<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">
    <aop:aspectj-autoproxy/>

    <bean id="userService" class="com.springaop.service.impl.UserServiceImpl"/>
    <bean id="orderService" class="com.springaop.service.impl.OrderServiceImpl"/>

    <bean id="logArgsAspect" class="com.springaop.aop_spring_2_aspectj.LogArgsAspect">
        <property name="trace" value="true"/>
    </bean>

    <bean id="logResultAspect" class="com.springaop.aop_spring_2_aspectj.LogResultAspect">
        <property name="trace" value="true"/>
    </bean>
</beans>