<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="orderServiceImpl" class="com.springaop.service.impl.OrderServiceImpl"/>
    <bean id="userServiceImpl" class="com.springaop.service.impl.UserServiceImpl"/>

    <!-- 定义两个 advice -->
    <bean id="logArgsAdvice" class="com.springaop.aop_spring_1_2.LogArgsAdvice"/>
    <bean id="logResultAdvice" class="com.springaop.aop_spring_1_2.LogResultAdvice"/>

    <!-- 定义两个 advisor -->

    <!-- 记录create* 方法的传参 -->
    <bean id="logArgsAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="logArgsAdvice"/>
        <property name="pattern" value="com.springaop.service.*.create.*"/>
    </bean>

    <!-- 记录 query* 方法的传参 -->
    <bean id="logResultAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="logResultAdvice"/>
        <property name="patterns" value="com.springaop.service.*.query.*"/>
    </bean>

    <!-- 定义 DefaultAdvisorAutoProxyCreator -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
</beans>